################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ads/bin/Release/PublishOutput
/Ads/bin/roslyn
/Ads/bin/
/Ads/obj/Debug
/packages
/Ads/obj/Release
