################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ads/bin/Release/PublishOutput
/Ads/bin/roslyn
/Ads/bin/
/Ads/obj/Debug
/Ads/obj/Release

# Testing
/AdsApp.Test/obj
/AdsApp.Test/bin